@import 'common.scss';

/*----- Header -----*/
header {
  &.header {
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 0 0 60px 60px;

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $header-height;
      font-family: $secondary-font;

      .logo {
        width: 160px;
      }

      .navMenus {
        display: flex;
        gap: 30px;

        @media(max-width:991px) {
          background-color: red;
          flex-direction: column;
          position: fixed;
          top: $header-height;
          left: -30%;
          width: 60%;
          transition: $transition;
        }

        &.active {
          left: 0;
        }

        li a {
          text-transform: capitalize;
          font-size: 18px;
          font-weight: 300;
          color: $link-color;
          transition: $transition;

          &:hover {
            color: $secondary-color;
          }
        }
      }

      .nav-btn {
        display: none;

        @media(max-width:991px) {
          display: block;
        }
      }
    }
  }
}

/*----- End Header -----*/
/*----- Footer -----*/
.footer {
  padding: 60px;
  background: linear-gradient(180deg, rgba(197, 161, 94, 0.8) 10%, rgba(155, 115, 39, 0.7) 70.5%) 20%,
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('/public/images/footer-bg-img.png');
  background: #111;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;

  .footer-content {
    .footer-wrappers {
      display: grid;
      gap: 10px;
      place-items: center;
      grid-template-columns: 45% 55%;
      margin-bottom: 50px;

      .footer-info {
        display: flex;
        gap: 20px;
        align-items: center;

        .footer-logo {
          img {
            max-width: 160px;
          }
        }

        .footer-contact-info {
          p {
            font-size: 24px;

            i {
              background: linear-gradient(89.29deg, #ECBF65 8.13%, #E4BF74 39.52%, #F3C66A 118.64%);
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
            }

            a {
              color: $white;
            }
          }
        }
      }

      .navMenus {
        display: flex;
        gap: 40px;
        margin-bottom: 30px;

        li {
          a {
            color: $white;
            font-size: 22px;
            text-transform: uppercase;
          }
        }
      }

      .footer-social {
        display: flex;
        gap: 12px;

        li {
          border: 1px solid $border-color;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          border-radius: 50%;
          transition: $transition;

          &:hover {
            background: $border-color;
          }

          a {
            color: $white;
          }
        }
      }
    }

    .footer-below {
      display: flex;
      justify-content: space-between;

      p {
        color: $white;
        margin-bottom: 0;

        a {
          color: $primary-color;
        }
      }

      .footer-below-links {
        display: flex;

        li {
          border-right: 2px solid $white;
          padding: 0px 18px;

          &:last-child {
            border-right: 0;
          }

          a {
            color: $white;
            font-size: 22px;
            font-weight: 500;
            text-transform: capitalize;
          }
        }
      }
    }
  }

}

/*----- End Footer -----*/
/*----- -----*/