@import 'common.scss';

/*----- Header -----*/
header {
  &.header {
    // position: absolute;
    position: fixed;
    width: 100%;
    z-index: 9;
    background-color: rgba($color: #000000, $alpha: 0.3);
    backdrop-filter: blur(12px);
    border-radius: 0 0 60px 60px;
    transition: $transition;

    &.sticky {
      // background-color: $secondary-color;
    }

    @media(max-width:991px) {
      border-radius: 0;
    }

    .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $header-height;
      font-family: $secondary-font;

      .logo {
        width: 150px;
      }

      .navMenus {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        gap: 30px;

        @media(max-width:991px) {
          background-color: rgba($color: #000000, $alpha: .5);
          background: $gradient-color;
          border-top: 1px solid rgba($color: #000000, $alpha: .2);
          backdrop-filter: blur(25px);
          flex-direction: column;
          position: fixed;
          top: $header-height;
          left: -100%;
          width: 100%;
          height: calc(100vh - $header-height);
          gap: 0;
          transition: $transition;
          overflow-y: scroll;

          //   &::before {
          //     content: "";
          //     // content: url('/public/images/wide_logo_header.svg');
          //     // display: flex;
          //     // align-items: center;
          //     // justify-content: center;
          //     // background: $gradient-color;
          //     // background-repeat: no-repeat;
          //     // background-position: center;
          //     // background-size: cover;
          //     // width: 100%;
          //     // height: 100%;
          //     // position: fixed;
          //     // left: 100%;

          //   // @media(max-width:575px) {
          //   //   display: none;
          //   // }
          // }

          // @media(max-width:575px) {
          //   width: 100%;
          // }
        }

        &.active {
          left: 0;
        }

        li a {
          color: $link-color;
          font-size: 18px;
          text-transform: capitalize;
          font-family: $primary-font;
          transition: $transition;

          @media(max-width:991px) {
            display: block;
            padding: 8px;

            &:hover {
              background-color: rgba($color: #000000, $alpha: .5);
            }
          }

          &:hover {
            color: $secondary-color;
          }
        }
      }

      .nav-btn {
        display: none;

        span {
          i {
            font-size: 30px;
            color: $white;
          }
        }

        @media(max-width:991px) {
          display: block;
        }
      }
    }
  }
}

/*----- End Header -----*/
/*----- Footer -----*/
.footer {
  padding: 60px 0;
  background: linear-gradient(180deg, rgba(197, 161, 94, 0.8) 10%, rgba(155, 115, 39, 0.7) 70.5%) 20%,
    linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url('/public/images/footer-bg-img.png');
  background: #111;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-bottom: 20px;

  .footer-content {
    .footer-wrappers {
      display: grid;
      place-items: center;
      grid-template-columns: 45% 55%;
      margin-bottom: 50px;

      @media screen and (max-width: 768px) {
        place-items: center;
        grid-template-columns: 100%;
      }

      @media screen and (max-width: 480px) {
        margin-bottom: 34px;
      }

      .footer-wrapper {
        padding: 18px;

        @media screen and (max-width: 575px) {
          padding: 18px 0;

        }

        &:first-child {
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 2px;
            height: 100%;
            background-color: $secondary-color;
            right: -15%;

            @media screen and (max-width: 1024px) {
              right: -25%;
            }

            @media screen and (max-width: 960px) {
              display: none;
            }
          }
        }

        .footer-info {
          display: flex;
          gap: 20px;
          align-items: center;

          @media screen and (max-width: 1024px) {
            flex-direction: column;
            align-items: flex-start;
          }

          @media screen and (max-width: 768px) {
            align-items: center;
            text-align: center;
          }

          .footer-logo {
            img {
              max-width: 160px;

              @media screen and (max-width: 575px) {
                max-width: 180px;
              }
            }
          }

          .footer-contact-info {
            p {

              img {
                margin-inline-end: 8px;
                width: 20px;
              }

              a {
                color: $white;

                &:hover {
                  color: $secondary-color;
                }
              }
            }
          }
        }

        .navMenus {
          display: flex;
          flex-wrap: wrap;
          column-gap: 40px;
          row-gap: 8px;
          margin-bottom: 30px;
          justify-content: center;

          @media screen and (max-width: 480px) {
            flex-direction: column;
            align-items: center;
          }

          li {
            a {
              color: $white;
              text-transform: uppercase;

              &:hover {
                color: $secondary-color;
              }
            }
          }
        }

        .footer-social {
          display: flex;
          gap: 12px;

          @media screen and (max-width: 768px) {
            justify-content: center;
          }

          li {
            // position: relative;
            // width: 40px;
            // height: 40px;
            // line-height: 40px;
            // border: 1px solid $border-color;
            // border-radius: 50%;

            a {
              color: $white;
              border: 1px solid $border-color;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              transition: $transition;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                background: $border-color;
              }

              img {
                width: 20px;
                height: 20px;
                // line-height: 40px;
                object-fit: contain;
                // position: absolute;
                // display: block;
                // text-align: center;
                // width: 20px;
                // height: 20px;
                // line-height: 40px;
                // object-fit: contain;
                // color: $white;
                // border: 1px solid $border-color;
                // width: 40px;
                // height: 40px;
                // text-align: center;
                // border-radius: 50%;
                // transition: $transition;
                // padding: 6px;
              }
            }
          }
        }
      }
    }

    .footer-below {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        flex-direction: column-reverse;
        gap: 10px;
        align-items: center;
      }

      p {
        text-align: center;
        font-size: 16px;
        color: $white;
        margin-bottom: 0;

        a {
          color: $white;

          &:hover {
            color: $secondary-color;
          }
        }
      }

      .footer-below-links {
        display: flex;

        li {
          border-right: 2px solid $primary-color;
          padding: 0px 18px;

          @media screen and (max-width: 425px) {
            padding: 0px 10px;
          }

          &:last-child {
            border-right: 0;
          }

          a {
            color: $white;
            font-weight: 500;
            text-transform: capitalize;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }

      .go-top {
        position: fixed;
        bottom: 2%;
        right: 1%;

        img {
          cursor: pointer;
          color: $white;
          background-color: $secondary-color;
          // background: $gradient-color;
          width: 36px;
          height: 36px;
          line-height: 36px;
          padding: 5px;
          text-align: center;
          border-radius: 50%;
          transition: $transition;
          box-shadow: $bShadow;

          &:hover {
            background-color: $primary-color;
          }
        }
      }
    }
  }

}

/*----- End Footer -----*/
/*----- -----*/