@import 'variables.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ----- Variables ----- */
// :root {
//   --primary-color: ;

//   --secondary-color: ;
//   --white: #fff;
//   --black: #000;
//   --gradient-color: linear-gradient(90deg, #593F2C 0%, #CD9E68 100%);
//   --header-height: 100px;
//   --link-color: #fff;
//   --link-hover-color: rgba(255, 255, 255, .4);
//   --transition: .3s all ease-in-out;
//   --radius: 10px;
//   --primary-font: "Gilda Display", serif;
//   --secondary-font: "Host Grotesk", sans-serif;
// }


/*--- $primary-color: #4F3D30;
$secondary-color: #CD9E68;
$border-color: #e8c172;
$white: #ffffff;
$black: #000;
$gradient-color: linear-gradient(90deg, #593F2C 0%, #CD9E68 100%);
$gradient-color2: linear-gradient(89.29deg, #ECBF65 8.13%, #E4BF74 39.52%, #F3C66A 118.64%);
$header-height: 100px;
$link-color: #fff;
$link-hover-color: rgba(255, 255, 255, .4);
$transition: .3s all ease-in-out;
$radius: 10px;
$bShadow: 0px 0px 34px 0px #0000001F;
$primary-font: "Gilda Display", serif;
$secondary-font: "Host Grotesk", sans-serif; ---*/
/* ----- End Variables ----- */

/* -----Body----- */

body {
  font-family: $secondary-font;
}

/* -----End Body----- */
/* ----- Typography ----- */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  font-family: $primary-font;
  margin-bottom: 14px;
}

h1 {
  text-transform: capitalize;
  font-size: clamp(48px, 6.4vw, 68px);
  font-weight: 500;
}

h2 {
  text-transform: capitalize;
  font-size: clamp(50px, 5.5vw, 80px);
  font-weight: 500;
}

h3 {
  text-transform: capitalize;
  font-size: clamp(22px, 4.5vw, 24px);
  font-weight: 600;
}

h4 {
  text-transform: capitalize;
  font-size: clamp(30px, 4.6vw, 32px);
  font-weight: 400;
}

p {
  color: $text-color;
  font-size: clamp(16px, 4vw, 18px);
  line-height: clamp(24px, 4vw, 26px);
  margin-bottom: 16px;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

/* ----- End Typography ----- */
/* -----Common Classes ----- */
.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1920px;
  }
}

.padding-y {
  padding: 70px 0;
}

.btn-primary,
.btn-secondary {
  display: inline-block;
  font-size: 20px;
  font-weight: 400;
  background: $gradient-color;
  background-size: 200% 100%;
  color: $link-color;
  padding: 10px 20px;
  border-radius: calc($radius - 2px);
  transition: $transition;
  text-transform: capitalize;
}

.btn-primary:hover {
  background-position: 100% 0;
}

.btn-secondary {
  background: transparent;
  border: 1px solid $primary-color;
  color: $primary-color;
}

.btn-secondary:hover {
  background: $gradient-color;
  color: $white;
}

/* -----End Common Classes ----- */

/* ----- Common Section ----- */
.sec-heading {
  max-width: 1000px;
}

.sec-heading h2 {
  background: $gradient-color;
  margin-bottom: 12px;
  ;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* ----- End Common Section ----- */

/* ----- Inputs ----- */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="submit"],
textarea {
  width: 100%;
  font-size: 20px;
  font-family: inherit;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="sumbit"]:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
}

/* ----- End Inputs ----- */
/* ----- ----- */