@import 'variables.scss';

/*----- Section Top ----- */
// main {
//   background: #000;
// }
.section-top {
  position: relative;
  background-image: url('/public/images/contact-top-section.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: "";
    position: absolute;
    background-color: rgba($color: #000000, $alpha: .5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .section-top-content {
    .top-headings {
      position: relative;
      text-align: center;

      p {
        color: $white;
        margin-bottom: 0;
        text-transform: uppercase;
        text-decoration: underline;
      }

      h1 {
        color: $white;
      }
    }
  }
}

/*----- End Section Top ----- */

/*----- In Touch ----- */
.in-touch {
  .in-touch-content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 991px) {
      grid-template-columns: 1fr;

    }

    .contact-form {
      display: flex;
      padding: 20px 20px 0 0;
      flex-direction: column;
      justify-content: flex-end;

      h2 {
        margin-bottom: 28px;
      }

      form {
        div {
          margin-bottom: 20px;

          p {
            font-size: 20px;
            color: $black;
            margin-bottom: 12px;
          }

          .property-type {
            display: flex;
            align-items: center;
            gap: 120px;
            margin-bottom: 10px;

            @media screen and (max-width: 575px) {
              align-items: flex-start;
              flex-direction: column;
              gap: 10px;

            }

            div {
              margin-bottom: 0;
              display: flex;
              align-items: center;
              grid-area: 3px;

              p {
                color: $black;
                margin-bottom: 0;

                label {
                  cursor: pointer;
                  top: 0;
                }

                input[type="radio"] {
                  cursor: pointer;
                }
              }
            }
          }

          label {
            margin-left: 10px;
            font-size: 20px;
            transition: $transition;
            position: absolute;
            top: 10px;
            text-transform: capitalize;

            &.active {
              top: -10px;
              font-size: 15px;
              color: rgba($color: #000000, $alpha: .5);
            }

            span {
              color: red;
            }
          }

          input,
          textarea {
            border: none;
            border-bottom: 1px solid rgba($color: #000000, $alpha: .2);
          }

          textarea {
            padding: 10px;
            height: 130px;
            margin-bottom: 30px;
          }

          button {
            cursor: pointer;
            font-size: 18px;
            padding: 12px;
            width: 100%;
            border: 0;
            border-color: transparent;
            text-transform: uppercase;
          }
        }

        .user-info {
          display: flex;
          gap: 10px;
          margin-bottom: 0;

          @media screen and (max-width: 992px) {
            flex-direction: column;
          }

          div {
            width: 100%;
          }
        }
      }
    }
  }
}

/*----- End In Touch ----- */

/*----- Map ----- */
.map {
  padding-top: 60px;

  .map-content {
    .sec-heading {
      margin: 0 auto;
      text-align: center;
      margin-bottom: 30px;
    }

    iframe {
      display: block;
    }
  }
}

.in-touch {
  .in-touch-content {
    .contact-form {
      form {
        div {
          position: relative;

          label {
            position: absolute;
            transition: $transition;
          }

          input {
            padding: 10px;
          }
        }
      }
    }
  }
}

/*----- End Map ----- */
/*-----  ----- */

/*======End Page Contact Us======*/