@use 'variables.scss' as v;

@import 'variables.scss';

/*-----Contact-----*/
.contact {
  position: fixed;
  z-index: 99;
  right: -80px;
  top: 50%;
  transition: $transition;

  &:hover {
    right: 0
  }

  a {
    display: flex;
    color: $white;
    text-transform: capitalize;
    font-size: 14px;
    gap: 8px;
    align-items: center;
    background: $gradient-color;
    padding: 8px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;

    .contact-image {
      img {
        width: 40px;
      }
    }
  }
}

/*-----End Contact-----*/
/*-----Main -----*/
main {
  // position: relative;

  .hero-banner {
    position: relative;
    width: 100%;
    height: 100vh;
    min-height: $hero-min-height;
    overflow: hidden;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;

    @media screen and (max-width: 575px) {
      min-height: 450px;
      height: 100%;
    }

    .hero-content {
      .hero-slider {
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .hero-slides {
          position: absolute;
          width: 100%;
          height: 100%;

          .main-slide {
            position: relative;
            width: 100%;
            height: 100vh;
            min-height: $hero-min-height;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: flex !important;
            align-items: center;
            justify-content: center;

            &::before {
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background-color: rgba($color: #000000, $alpha: 0.4);
            }

            h1 {
              position: absolute;
              color: $white;
              text-align: center;
              max-width: 740px;
              margin-top: 100px;
              text-shadow: 1px 1px 9px rgba($color: #000000, $alpha: 0.8);
              letter-spacing: 1px;
              text-transform: uppercase;

              @media screen and (max-width: 575px) {
                padding: 10px;
              }
            }
          }


          .slick-dots {
            height: 60px;

            li {
              button {
                &:before {
                  font-size: 12px;
                  opacity: 1;
                  color: $white;
                }
              }

              &.slick-active {
                button {
                  &:before {
                    color: $secondary-color;
                    font-size: 16px;
                  }
                }
              }
            }
          }

          .main-slide {

            .residential-image,
            .commercial-image {
              height: 100%;

              img {
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }

        .main-btns {
          display: flex;
          gap: 4px;
          position: absolute;
          z-index: 12;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          .btn-primary {
            font-size: 22px;
            text-shadow: 2px 2px 2px $black;
            letter-spacing: 1px;
            width: 200px;
            height: 60px;
            text-align: center;
            line-height: 40px;
            text-transform: uppercase;

            @media screen and (max-width: 575px) {
              font-size: 18px;
              width: 160px;
              line-height: 30px;
              height: 50px;
            }
          }
        }
      }
    }
  }

  /*-----End Main -----*/

  /*-----Sponsers -----*/
  .sponsers {
    .sec-heading {
      font-size: 24px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 50px;
    }

    .sponsers-slider {
      .sponser-slide {
        display: flex !important;
        justify-content: center;

        .slide-content {
          position: relative;
          width: 250px;
          height: 90px;
          margin: 20px;
          padding: 10px;
          // box-shadow: $bShadow;
          display: flex;
          align-items: center;
          justify-content: center;
          // border-radius: $radius;

          @media screen and (max-width: 575px) {
            margin: 14px;
          }

          img {
            padding: 10px;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }


  /*-----End Sponsers -----*/

  /*----- About Real Estate -----*/
  .about-us {
    position: relative;
    background-image: url('/public/images/choose-us-bg.png');
    background-image: url('/public/images/about-us-bg5.webp');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    &::before {
      content: "";
      position: absolute;
      background-color: rgba($color: #ffffff, $alpha: .9);
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .about-us-content {
      position: relative;

      .about-us-info {
        .sec-heading {

          p:first-child {
            background: $gradient-color ;
            font-weight: 300;
            color: $white;
            text-transform: uppercase;
            padding: 1px 12px 1px 12px;
            max-width: 200px;
            margin: 0 auto;
            margin-bottom: 10px;
            clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
          }

          p {
            strong {
              a {
                text-transform: capitalize;

                &::first-letter {
                  font-size: 40px;
                }
              }
            }
          }
        }

        .about-btn {
          .btn-primary {
            margin-top: 30px;
          }
        }

      }
    }
  }

  /*----- End About Real Estate -----*/

  /*-----Our Featured Properties -----*/
  .featured-properties {
    background-color: #f7f8f9;
    padding: 70px 0 120px;

    .featured-properties-content {
      .sec-heading {
        text-align: center;
        margin: 0 auto;
        margin-bottom: 50px;
      }

      .property-type {
        margin: 0 0 40px;

        ul {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          gap: 20px;

          li {
            text-transform: capitalize;
            font-size: 22px;
            cursor: pointer;
            padding-bottom: 10px;
            transition: $transition;
            border-bottom: 2px solid transparent;

            &.active {
              color: $primary-color;
              border-bottom: 2px solid $primary-color;
            }
          }
        }
      }

      .tab-content {
        .content {
          display: none;

          &.active {
            display: block;
          }

          .properties-slider {
            margin-top: 30px;

            @media screen and (max-width: 768px) {
              margin-top: 60px;
            }

            .slick-next,
            .slick-prev {
              position: absolute;
              top: calc(100% + 50px);
              right: calc(50% - 36px);
              background: transparent;
              border: 1px solid $primary-color;
              width: 32px;
              height: 32px;
              border-radius: $radius;

              &::before {
                content: "\f061";
                color: $primary-color;
                font-family: "Font Awesome 6 Free";
                font-weight: bold;
                font-size: 14px;
              }

              &:hover {
                background: $gradient-color;
              }

              &:hover::before {
                color: $white;
              }
            }

            .slick-prev {
              left: calc(50% - 36px);

              &::before {
                content: "\f060";
              }
            }

            .property-slider {
              display: block;

              .property-slide-content {
                border-radius: 8px;
                overflow: hidden;
                max-width: 498px;
                margin: 10px;
                // box-shadow: $b-shadow2;
                transition: $transition;
                background-color: #ffffff;

                @media screen and (max-width: 480px) {
                  margin: 10px 0;
                }

                &:hover {
                  border-color: $link-hover-color;
                }

                &:hover {
                  .property-slide-header {
                    img {
                      transform: scale(1.2);
                    }
                  }
                }

                .property-slide-header {
                  position: relative;
                  margin-bottom: 16px;
                  height: 220px;
                  overflow: hidden;

                  img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transition: $transition;
                  }
                }

                .property-slide-body {
                  padding: 18px;

                  .property-title {
                    text-align: center;
                    text-transform: capitalize;
                    border-bottom: 1px solid $border-color;
                  }

                  .area {
                    padding: 12px 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                    font-size: 14px;
                    border-bottom: 1px solid $border-color;
                  }


                  .property-slider-footer {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 8px;
                    align-items: center;
                    justify-content: space-between;
                    padding: 12px 0 0;

                    .price {
                      color: $primary-color;
                      font-size: 18px;
                      text-transform: capitalize;
                    }

                    .button {
                      .btn-secondary {
                        padding: 8px 10px;
                      }
                    }
                  }
                }
              }

            }

          }
        }
      }

    }
  }

  /*-----End Our Featured Properties -----*/

  /*----- Our Services (What We Do)-----*/
  // .our-services {
  //   padding: 130px 0px 60px;

  //   @media screen and (max-width: 991px) {
  //     padding: 100px 0;
  //   }

  //   @media screen and (max-width: 768px) {
  //     padding: 100px 0 0px;
  //   }

  //   .our-services-content {
  //     display: grid;
  //     gap: 5px;
  //     grid-template-columns: 25% 75%;

  //     @media screen and (max-width: 991px) {
  //       grid-template-columns: 100%;
  //       gap: 40px;
  //     }

  //     .service {
  //       position: relative;
  //       display: flex;
  //       gap: 20px;
  //       border-top: 1px solid rgba($color: #000000, $alpha: .3);
  //       padding: 30px 0;

  //       @media screen and (max-width: 575px) {
  //         flex-direction: column;
  //         gap: 0;
  //         padding: 50px 0px 20px;
  //       }

  //       >p {
  //         transform: rotate(-90deg);
  //         position: absolute;
  //         left: -10px;
  //         transform-origin: bottom;
  //         top: 10%;
  //         color: $primary-color;

  //         @media screen and (max-width: 575px) {
  //           transform: rotate(0deg);
  //           top: 10px;
  //           left: 0;
  //         }
  //       }

  //       .service-heading {
  //         flex-basis: 50%;
  //         position: relative;
  //         padding-left: 40px;

  //         @media screen and (max-width: 575px) {
  //           padding-left: 0;
  //         }

  //         h3 {
  //           font-size: clamp(30px, 4.4vw, 40px);
  //           font-weight: 400;
  //         }
  //       }

  //       .service-info {
  //         flex-basis: 50%;
  //         color: $text-color;

  //         ul {
  //           margin-bottom: 20px;

  //           p {
  //             margin-bottom: 0;
  //           }

  //           li {
  //             padding-left: 10px;

  //             &::before {
  //               content: "- ";
  //             }
  //           }
  //         }
  //       }

  //       .research {
  //         left: -56px;
  //         top: 32%;

  //         @media screen and (max-width: 575px) {
  //           transform: rotate(0deg);
  //           top: 10px;
  //           left: 0;
  //         }
  //       }
  //     }
  //   }
  // }
  /*----- End Our Services (What We Do)-----*/

  /*------ Explore Properties------*/
  .explore-properties {
    .explore-properties-content {
      .sec-heading {
        margin: 0 auto;
        text-align: center;
      }

      .properties-widgets {
        margin-top: 52px;
        display: grid;
        gap: 12px;
        // grid-template-columns: repeat(4, 1fr);
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

        .property-widget {
          position: relative;
          border: 1px solid $primary-color;
          padding: 2px;
          transition: $transition;
          border-radius: 6px;
          overflow: hidden;
          height: 250px;

          &:hover {
            scale: 1.05;

            &:hover .image {
              filter: brightness(.2);
            }
          }

          a {
            display: block;
            background-color: lightblue;
            height: 100%;

            .image {
              display: flex;
              filter: brightness(.5);
              transition: $transition;
              width: inherit;
              height: inherit;

              img {
                border-radius: 6px;
                object-fit: cover;
              }
            }

            .content {
              width: 100%;
              padding: 12px;
              text-align: center;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);

              h5 {
                font-size: 20px;
                margin: 0;
                color: $white;
              }

              p {
                color: $white;
                font-size: 14px;
              }
            }
          }

          &:nth-child(2) {
            grid-column: span 2 / span 2;
          }

          &:nth-child(3) {
            grid-column-start: 4;
          }

          &:nth-child(4) {
            grid-row-start: 2
          }

          &:nth-child(5) {
            grid-row-start: 2
          }

          &:nth-child(6) {
            grid-column: span 2 / span 2;
            grid-row-start: 2;
          }

          @media screen and (max-width: 991px) {
            &:nth-child(2) {
              // grid-column: span 1 / span 1;
              grid-column: initial;
            }

            &:nth-child(3) {
              // grid-column-start: 3;
              grid-column-start: initial;

            }

            &:nth-child(4) {
              // grid-row-start: 2;
              grid-row-start: initial;
            }

            &:nth-child(5) {
              // grid-row-start: 2;
              grid-row-start: initial;
            }

            &:nth-child(6) {
              // grid-column: span 1 / span 1;
              grid-column: initial;
              // grid-row-start: 2;
              grid-row-start: initial;
            }
          }
        }
      }
    }
  }

  /*------ End Explore Properties------*/

  /*----- Video -----*/
  .video-content {
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /*----- End Video -----*/

  /*----- Services Feature -----*/
  .services-feature {
    .services-feature-content {
      .sec-heading {
        @media screen and (max-width: 768px) {
          text-align: center;
        }
      }

      .services-feature-info {
        display: grid;
        margin-top: 30px;
        grid-template-columns: 30% 70%;

        @media screen and (max-width: 768px) {
          grid-template-columns: 100%;
          margin-top: 30px;
        }

        .info-headings {
          h4 {
            font-size: 40px;
            text-transform: capitalize;
            font-weight: 500;
            padding: 0 10px;
            border-left: 4px solid;
          }

          p {
            margin-right: 40px;
          }

          ul {
            li {
              font-size: 32px;
              margin-bottom: 14px;
              font-family: $primary-font;
              text-transform: capitalize;
            }
          }
        }
      }

      .information {
        display: grid;
        column-gap: 50px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-columns: repeat(2, 1fr);

        @media screen and (max-width: 768px) {
          margin-top: 10px;
          gap: 26px;
        }

        @media screen and (max-width: 575px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .information-wrapper {
          padding: 10px 0;
          margin: 4px 0;
          border-bottom: 1px solid $text-color;
        }
      }
    }

  }

  /*----- End Services Feature -----*/

  /*-----Choose US -----*/
  .choose-us {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('/public/images/choose-us-bg.png');
      background-repeat: repeat-x;
      background-size: contain;
      background-position: center;
      background-attachment: fixed;
      opacity: 0.038;
      z-index: -1;
    }

    .choose-us-content {
      .sec-heading {
        text-align: center;
        margin: 0 auto;
      }

      .choose-feature-wrappers {
        margin-top: 50px;
        text-align: center;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;

        @media(max-width:991px) {
          grid-template-columns: 1fr 1fr;
        }

        @media(max-width:575px) {
          grid-template-columns: 1fr;
        }

        .choose-feature-wrapper {
          padding: 28px;
          border-radius: calc($radius + 10px);
          box-shadow: $bShadow;
          box-shadow: $b-shadow2;
          border: 1px solid transparent;
          background: $white url('/public/images/choose-us-ftrs-bg.svg');
          transition: transform 0.6s ease-in, opacity 0.6s ease;
          transform-origin: center;
          will-change: transform, opacity;

          &:hover {
            transform: scale(1.02);
          }

          &:hover p {
            color: $black;
          }

          img {
            width: 75px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }

  /*-----End Choose US -----*/

  /*-----About Us -----*/
  .about-us {
    .about-us-content {
      display: block;
      align-items: center;
      text-align: center;
      // display: grid;
      gap: 50px;
      grid-template-columns: repeat(2, 1fr);
      place-content: center;
      place-items: center;

      @media screen and (max-width: 991px) {
        gap: 35px;
      }

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .about-us-image {
        @media screen and (max-width: 768px) {
          order: 2;
        }

        img {
          border-radius: calc($radius + 30px);
          border: 1px solid $primary-color;
          padding: 4px;
        }
      }

      .about-us-info {
        @media screen and (max-width: 768px) {
          order: 1;
          text-align: center;
        }
      }
    }
  }

  /*-----End About Us -----*/

  /*-----leadership Culture -----*/
  .leadership-culture {
    position: relative;
    background: url('/public/images/leadership-culture-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      top: 0;
      left: 0;
    }

    .leadership-culture-content {
      position: relative;
      display: grid;
      gap: 10px;
      grid-template-columns: 40% 60%;
      place-content: center;
      place-items: center;

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
      }

      .leadership-sec-heading {
        h2 {
          color: $white !important;
        }
      }

      .leadership-info {
        p {
          color: $white;
        }
      }
    }
  }

  /*-----End leadership Culture -----*/

  /*-----Globally Trusted -----*/
  .globally-trusted {
    background-image: url('/public/images/testimonial-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    .globally-trusted-content {
      display: grid;
      grid-template-columns: 38% 62%;

      @media screen and (max-width: 768px) {
        grid-template-columns: 100%;
        text-align: center;
      }
    }

    .testimonials {
      @media screen and (max-width: 768px) {
        margin-top: 26px;
      }

      .testimonials-slider {
        position: relative;

        .testimonioal-slide {
          p {
            color: $black;
            font-size: 24px;
            line-height: 34px;
          }

          .testimonial-info {
            .info-name {
              h5 {
                font-family: $secondary-font;
                color: $primary-color;
                font-size: 22px;
                opacity: .7;

                & span:last-child {
                  font-size: 14px;
                }
              }
            }
          }
        }

        .slick-dots {
          position: absolute;
          left: -44%;

          @media screen and (max-width: 768px) {
            left: 0;
          }

          li {
            button {
              &::before {
                font-size: 18px;
              }
            }

            &.slick-active {
              button {
                &:before {
                  color: $primary-color;
                }
              }
            }
          }
        }
      }

    }
  }

  /*-----End Globally Trusted -----*/

  /*----- Insights -----*/
  .insights {
    .insights-content {
      .insignts-headings {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 26px;

        @media screen and (max-width: 768px) {
          justify-content: center;

        }

        .btn-primary {
          height: max-content;

          @media screen and (max-width: 768px) {
            display: none;
          }
        }
      }

      .insights-blog {
        margin-top: 50px;
        display: grid;
        gap: 26px;
        grid-template-columns: repeat(3, 1fr);

        @media screen and (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }

        @media screen and (max-width: 575px) {
          grid-template-columns: repeat(1, 1fr);
        }

        .blog-wrapper {
          padding: 12px;
          border-radius: $radius;
          border: 1px solid transparent;
          transition: $transition;
          box-shadow: $b-shadow2;
          transform-origin: center;
          will-change: transform;

          &:hover {
            transform: scale(1.02);
          }

          &:hover img {
            transform: scale(1.1);
          }

          .blog-wrapper-image {
            position: relative;
            border-radius: $radius;
            margin-bottom: 16px;
            width: 100%;
            height: 250px;
            overflow: hidden;
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: $transition;
          }

          h4 {
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 16px;
          }

          a {
            text-transform: uppercase;
          }
        }
      }

      .insights-btn {
        display: none;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        @media screen and (max-width: 768px) {
          display: flex;
        }
      }
    }

  }
}

/*----- End Insights -----*/

/*-----News-----*/
.news {
  padding: 0 20px;

  .news-content {
    display: flex;
    gap: 18px;

    .latest-news,
    .customers-say,
    .property-blogs {
      width: calc(100% / 3);

      @media screen and (max-width: 768px) {
        width: calc(100%);
      }
    }

    .latest-news,
    .property-blogs {
      height: 300px;

      @media screen and (max-width: 768px) {
        height: 100%;
      }
    }

    .latest-news {
      overflow: hidden;

      h3 {
        margin-bottom: 22px;
      }

      .news-widget {
        position: relative;

        &:hover .news-image {
          filter: brightness(30%);
        }

        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          background: $gradient-color ;
          top: 0;
          left: 0%;
          z-index: 1;
          transition: $transition;
        }

        &:hover::before {
          width: 0%;
          left: 50%;
          right: 50%;
        }

        .news-image {
          transition: $transition;
          filter: brightness(50%);
        }

        .news-content {
          position: absolute;
          z-index: 2;
          padding: 30px 16px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: $white;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .title-content {
            .title {
              font-size: 22px;
            }
          }

          a {
            margin-top: 12px;
            color: $white;
            text-transform: capitalize;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }

    }

    .customers-say {
      border-left: 1px solid rgba($color: #000000, $alpha: .1);
      border-right: 1px solid rgba($color: #000000, $alpha: .1);
      padding: 8px;

      @media screen and (max-width: 768px) {
        padding: 0;
        border-left: 0;
        border-right: 0;
      }

      .testimonials {
        .testimonial-slide {
          .slide-content {
            margin: 6px;

            @media screen and (max-width: 768px) {
              margin: 0;
            }

            .review {
              text-align: justify;
            }

            .reviewr {
              text-transform: capitalize;
              font-weight: 600;
              color: $primary-color;
            }

            .rating {
              display: flex;
              gap: 6px;
              align-items: center;
              margin: 6px 0;
            }
          }
        }
      }
    }

    .property-blogs {
      overflow: hidden;

      .property-blog-widget {
        position: relative;
        transition: $transition;

        &:hover .blog-image {
          filter: brightness(30%);
        }

        .blog-image {
          transition: $transition;
          filter: brightness(50%);
        }

        .blog-content {
          position: absolute;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          padding: 20px;
          display: flex;
          flex-direction: column;
          justify-content: end;

          h5 {
            color: $white;
            font-size: 24px;
            margin-bottom: 0;
          }

          p {
            color: $white;
            margin-bottom: 4px;
          }

          a {
            color: $white;
            text-transform: capitalize;

            &:hover {
              color: $secondary-color;
            }
          }
        }
      }
    }
  }
}

/*-----End News-----*/
/* ---------rle_popularareas_wrapper -----*/
.popularareas_wrapper {
  margin-top: 30px;
  background: black;
  float: left;
  width: 100%;

  .popularareas_inner {
    &::before {
      display: table;
      content: " ";
    }

    .row {
      margin-right: -15px;
      margin-left: -15px;

      &::before {
        display: table;
        content: " ";
      }

      .specialityBox {
        ul {
          padding: 18px 0px;
          /* margin: 0 20px; */
          display: inline-block;
          background: black;
          border-radius: 8px;
          height: 85px;
          width: calc(100% - 40px);
          text-align: center;

          li {
            /* padding: 7px 50px; */
            display: inline-block;
            line-height: 18px;
            color: #fff;
            position: relative;
            overflow: hidden;
            min-height: 10px;
            text-align: left;
            width: 16%;
            letter-spacing: .4px;
            text-align: center;

            img {
              width: 30px;
              height: 100%;
            }

          }
        }
      }
    }
  }
}