@import 'variables.scss';


/*-----Main -----*/
// .hero-banner {
//   width: 100%;
//   height: 100vh;
//   overflow: hidden;
// }

.hero-slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .hero-slides {
    position: absolute;
    width: 100%;
    height: 100%;

    .main-slide {
      position: relative;
      width: 100%;
      height: 100vh;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      display: flex !important;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba($color: #000000, $alpha: 0.5);
      }

      h1 {
        position: absolute;
        color: $white;
        font-size: 90px;
        font-weight: 400;
        text-align: center;
        max-width: 700px;
        margin-top: 100px;
      }
    }


    .main-slide-image-1 {
      background-image: url("/public/images/main-slide-1.png");
    }

    .main-slide-image-2 {
      background-image: url("/public/images/main-slide-2.png");
    }

    .main-slide-image-3 {
      background-image: url("/public/images/main-slide-3.png");
    }

    .main-slide-image-4 {
      background-image: url("/public/images/main-slide-4.png");
    }

    .slick-dots {
      height: 60px;

      li {
        button {
          &:before {
            font-size: 30px;
            opacity: 1;
            color: $white;
          }
        }

        &.slick-active {
          button {
            &:before {
              color: $primary-color;
              font-size: 30px;
            }
          }
        }
      }
    }
  }
}

/*-----End Main -----*/

/*-----Sponsers -----*/
.sponsers-slider {
  .sponser-slide {
    display: flex !important;
    justify-content: center;

    .slide-content {
      position: relative;
      width: 286px;
      height: 132px;
      margin: 20px;
      padding: 10px;
      box-shadow: $bShadow;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $radius;

      img {
        position: absolute;
        padding: 20px;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

/*-----End Sponsers -----*/


/*-----Our Featured Properties -----*/
.featured-properties {
  .properties-slider {

    .slick-next,
    .slick-prev {
      right: 0;
      position: absolute;
      top: -6%;
      background: transparent;
      border: 1px solid $primary-color;
      width: 32px;
      height: 32px;
      border-radius: $radius;

      &::before {
        content: "\f061";
        color: $primary-color;
        font-family: "Font Awesome 6 Free";
        font-weight: bold;
        font-size: 14px;
      }

      &:hover {
        background: $gradient-color;
      }

      &:hover::before {
        color: $white;
      }
    }

    .slick-prev {
      left: 94%;
      top: -6%;

      &::before {
        content: "\f060";
      }
    }

    .property-slider {
      .property-slide-content {
        // max-width: 498px;
        // min-width: 498px;
        margin: 22px;
        padding: 24px;
        border-radius: calc($radius + 10px);
        box-shadow: $bShadow;

        .property-slide-header {
          img {
            border-radius: calc($radius + 10px);
            margin-bottom: 23px;
            max-width: 450px;
          }
        }

        .property-slide-body {

          .location,
          .amenities,
          .status {
            opacity: .7;
            font-size: 22px;
            text-transform: capitalize;
          }

          h4 {
            font-family: $secondary-font;
            font-weight: 500;
            margin-bottom: 24px;
          }

          p {
            margin-bottom: 46px;
          }

          .location {
            display: inline-block;
            text-transform: capitalize;
            margin-bottom: 36px;
          }

          .amenities {
            display: flex;
            gap: 6px;
            margin-bottom: 36px;

            ul {
              display: flex;
            }

            li {
              border-right: 1px solid rgba($color: #000000, $alpha: 0.7);
              padding: 0 6px;

              &:last-child {
                border-right: 0;
              }
            }

          }

          .status {
            margin-bottom: 38px;
          }

          .price {
            color: $primary-color;
            font-size: 32px;
            text-transform: capitalize;
            margin-bottom: 48px;
          }
        }

        .property-slide-footer {
          display: flex;
          gap: 18px;

          a {
            width: 216px;
            text-align: center;
          }
        }
      }
    }
  }
}

/*-----End Our Featured Properties -----*/


/*----- Our Services-----*/
.our-services-content {
  display: grid;
  gap: 5px;
  grid-template-columns: 25% 75%;

  .service {
    position: relative;
    display: flex;
    gap: 26px;
    border-top: 1px solid $text-color;
    padding: 30px 0;

    >p {
      transform: rotate(-91deg);
      position: absolute;
      left: -10px;
      transform-origin: bottom;
      top: 8%;
      color: $primary-color;
    }

    .service-heading {
      flex-basis: 50%;
      position: relative;
      padding-left: 40px;
    }

    .service-info {
      flex-basis: 50%;
      color: $text-color;

      ul {
        margin-bottom: 20px;

        p {
          margin-bottom: 0;
        }

        li {
          padding-left: 10px;

          &::before {
            content: "- ";
          }
        }
      }
    }

    .research {
      left: -67px;
      top: 32%;
    }
  }
}

/*----- End Our Services-----*/

/*----- Video -----*/
.video-content {
  position: relative;
  width: 100%;
  height: 90vh;
  overflow: hidden;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/*----- End Video -----*/

/*----- Services Feature -----*/
.services-feature {
  .services-feature-info {
    display: grid;
    gap: 10px;
    grid-template-columns: 30% 70%;

    .info-headings {
      h5 {
        font-family: $secondary-font;
        font-size: 40px;
        text-transform: capitalize;
        font-weight: 500;
        padding: 0 10px;
        border-left: 2px solid;
        margin-bottom: 26px;
      }

      ul {
        li {
          font-size: 32px;
          text-transform: capitalize;
        }
      }
    }
  }

  .information {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    .information-wrapper {
      h5 {
        font-size: 40px;
        text-transform: capitalize;
        font-weight: 400;
        font-family: $secondary-font;
      }
    }
  }
}

/*----- End Services Feature -----*/

/*-----Choose US -----*/
.choose-us {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/images/choose-us-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.028;
    z-index: -1;
  }

  .sec-heading {
    text-align: center;
    margin: 0 auto;
  }

  .choose-feature-wrappers {
    margin-top: 80px;
    text-align: center;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;

    @media(max-width:991px) {
      grid-template-columns: 1fr 1fr;
    }

    @media(max-width:575px) {
      grid-template-columns: 1fr;
    }

    .choose-feature-wrapper {
      padding: 40px;
      border-radius: calc($radius + 10px);
      box-shadow: $bShadow;

      img {
        width: 96px;
        margin-bottom: 36px;
      }

      h4 {
        font-family: $secondary-font;
        // font-size: 50px;
        margin-bottom: 28px;
      }
    }
  }
}

/*-----End Choose US -----*/

/*-----Safe Workplace -----*/
.safe-workplace-content {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  place-items: center;

  .safe-workplace-image {
    img {
      border-radius: calc($radius + 30px);
    }
  }
}

/*-----End Safe Workplace -----*/

/*-----Globally Trusted -----*/
.globally-trusted {
  background-image: url('/public/images/testimonial-bg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .globally-trusted-content {
    display: grid;
    grid-template-columns: 40% 60%;
  }

  .testimonials {
    .testimonials-slider {
      .testimonioal-slide {
        p {
          font-size: 32px;
          margin-bottom: 40px;
        }

        .testimonial-info {
          .info-name {
            h5 {
              font-family: $secondary-font;
              font-size: 22px;
              opacity: .7;
              margin-bottom: 20px;
            }
          }
        }
      }

      .slick-dots {
        li {
          button {
            &::before {
              font-size: 45px;
            }
          }

          &.slick-active {
            button {
              &:before {
                color: $primary-color;
                // background: $gradient-color;
              }
            }
          }
        }
      }
    }

  }
}

/*-----End Globally Trusted -----*/

/*----- Insights -----*/
.insights {
  .insights-content {
    .insignts-headings {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 60px;

      .btn-primary {
        height: max-content;
      }
    }

    .insights-blog {
      display: grid;
      gap: 26px;
      grid-template-columns: repeat(3, 1fr);

      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 575px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .blog-wrapper {
        box-shadow: $bShadow;
        padding: 12px;
        border-radius: $radius;

        img {
          border-radius: $radius;
          margin-bottom: 16px;
          width: 100%;
          height: 340px;
          object-fit: cover;
          // box-shadow: $bShadow;
        }

        h4 {
          font-family: $secondary-font;
          font-size: 32px;
          margin-bottom: 16px;
        }

        a {
          text-transform: uppercase;
          color: $primary-color;
        }
      }
    }
  }

}

/*----- End Insights -----*/
/*----- -----*/