/* -----Variables ----- */

$primary-color: #4F3D30;
$secondary-color: #CD9E68;
$border-color: #e8c172;
$white: #ffffff;
$black: #000;
$text-color: #334155;
$gradient-color: linear-gradient(90deg, #593F2C 0%, #CD9E68 100%);
$gradient-color2: linear-gradient(89.29deg, #ECBF65 8.13%, #E4BF74 39.52%, #F3C66A 118.64%);
$input-gradient: linear-gradient(89.5deg, #5F523C -23.14%, #988055 129.52%);
$header-height: 100px;
$link-color: #fff;
$link-hover-color: rgba(255, 255, 255, .4);
$transition: .3s all ease-in-out;
$radius: 10px;
$bShadow: 0px 0px 34px 0px #0000001F;
$primary-font: "Gilda Display", serif;
$secondary-font: "Host Grotesk", sans-serif;
/* ----- End Variables ----- */